body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.title {
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.info {
    font-size: 18px;
    color: #333;
}

.key-info {
    font-size: 22px;
    color: #007BFF;
}