body {
    font-family: serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/* Contenedor de los ejercicios */
.ejercicio1, .ejercicio2 {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
}

/* TÃ­tulo de cada ejercicio */
h2 {
    background-color: #344e41;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px -20px;
    text-align: center;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #dad7cd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3a5a40;
    color: #fff;
}

/* Estilo de la lista */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #a3b18a;
    color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #588157;
}